<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script>
      angular.module('bhamashahApp', [])
        .controller("MainCtrl", function(){})
        .controller("MyCtrl", function($scope,$http){
          $scope.formData = {};

          $scope.jobFormSubmit = function($event) {
              $event.preventDefault();
              var jobPostJson = {};
              jobPostJson.education = $scope.education;
              jobPostJson.experience = $scope.experience;
              jobPostJson.location = $scope.location;
              jobPostJson.company = $scope.company;
              jobPostJson.title = $scope.title;
              jobPostJson.source = "Gov";
              jobPostJson.link = "";
              console.log(jobPostJson);
              $http({
                  method: 'POST',
                  url: 'http://localhost:8081/saveJobs',
                  data: jobPostJson,
                }).then(function(success){
                  console.log("success");
                },function errorCallback(response) {
                  console.log("response",response);
                });
          };
        });
    </script>
  </head>
  <body ng-init="" ng-app="bhamashahApp" ng-controller="MainCtrl" class="mainCtrl container">
    <header>
      <h1>Bhamashah SwaRojgar</h1>
    </header>
    <section class="section1 col-lg-1 text-center">
        <h2 class="text-white">Welcome to Bhamashah SwaRojgar</h2>
        <form name="jobPostForm" ng-submit="jobPostForm.$valid && jobFormSubmit($event)" ng-controller="MyCtrl">
          <label>Education:</label><input name="education" ng-model="education" type="text" required>
          <label>Experience:</label><input name="experience" ng-model="experience" type="text" required>
          <label>Location:</label><input name="location" ng-model="location" type="text" required>
          <label>Department:</label><input name="company" ng-model="company" type="text" required>
          <label>Job Title:</label><input name="title" ng-model="title" type="text" required>
          <input name="next" type="submit" class="btn-success" style="width: 200px;height: 50px;text-align:center" value="Next">
        </form>
    </section>

  </body>
</html>
